<input type="text" placeholder="Case" ng-model="case" typeahead="case.name for case in cases | filter:$viewValue | limitTo:20" class="form-control" typeahead-on-select="selectCase($item, $model, $label, task)">

<input type="text" ng-model="query" class="form-control" ng-change="calculateTime()" placeholder="Filtrer">

<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th>Date/time</th>
      <th>Description</th>
      <th>Name</th>
      <th>Time</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="item in case_items" class="{{highlightItem(item)}}">
      <td>{{item.date_entered}}</td>
      <td>{{item.description}}</td>
      <td>{{item.created_by_name}}</td>
      <td>{{item.time_length}}</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td>{{time_for_filtered}}</td>
    </tr>
  </tbody>
</table>
