<!DOCTYPE html>
<html ng-app="thyme">
  <head>
    <meta charset="utf-8">
    <title>About Thyme</title>

    <link href="/vendor/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="/vendor/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet">
    <link href="/css/app.css" rel="stylesheet">

    <script src="/vendor/angular/angular.js"></script>
    <script src="/vendor/angular-bootstrap/ui-bootstrap.js"></script>
    <script src="/vendor/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/vendor/angular-route/angular-route.js"></script>
    <script src="/app.js"></script>
    <script src="/js/controllers/MenuCtrl.js"></script>
    <script src="/js/controllers/CaseOverviewCtrl.js"></script>
    <script src="/js/controllers/CaseOverviewCtrl.js"></script>
    <script src="/js/controllers/TaskListCtrl.js"></script>
    <script src="/js/controllers/ModalCreateCtrl.js"></script>
    <script src="/js/controllers/SettingsCtrl.js"></script>
    <script src="/js/services/dbService.js"></script>
    <script src="/js/services/extService.js"></script>
  </head>
  <body ng-controller="AboutCtrl">
    <div class="col-xs-4">
      <img style="height: 150px;" src="/img/logo.png" />
    </div>
    <div class="col-xs-8">
      <h1>About Thyme</h1>
      <div>v. {{version}} </div>
    </div>
  </body>
</html>
