<div class="row">
    <!--<div class="col-lg-12">
        <h5>Kundeinfo</h5>
        <p><b>Sites</b></p>
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="site in customerInfo.sites">
        <span class="pull-right">
          <span class="btn btn-xs btn-default"
                ng-click="openURL(customerInfo.customer_url + '/sites/' + site.id + '/edit')">More info
          </span>
        </span>
                <b><a ng-click="openURL(site.url)">{{site.url}}</a></b>
                <ul>
                    <li ng-repeat="extraUrl in site.extra_url"><a ng-click="openURL(extraUrl)">{{extraUrl}}</a></li>
                </ul>
                <a ng-click="openURL(site.admin_url)">{{site.admin_url}}</a><br>
                <b>Database</b><br>
                <span ng-if="site.db_user" ng-click="copyClipboard(site.db_user)"
                      class="btn btn-default btn-sm"><span
                        class="glyphicon glyphicon-copy"></span> User</span>
                <span ng-if="site.db_password" ng-click="copyClipboard(site.db_password)"
                      class="btn btn-default btn-sm"><span
                        class="glyphicon glyphicon-copy"></span> Password</span><br>
                <b>FTP</b><br>
                <span ng-if="site.hostname" ng-click="copyClipboard(site.hostname)"
                      class="btn btn-default btn-sm"><span
                        class="glyphicon glyphicon-copy"></span> Hostname</span>
                <span ng-if="site.ftp_user" ng-click="copyClipboard(site.ftp_user)"
                      class="btn btn-default btn-sm"><span
                        class="glyphicon glyphicon-copy"></span> User</span>
                <span ng-if="site.ftp_password" ng-click="copyClipboard(site.ftp_password)"
                      class="btn btn-default btn-sm"><span
                        class="glyphicon glyphicon-copy"></span> Password</span>

                <span ng-if="ftpProgram" ng-click="ftpOpen(site.hostname, site.ftp_user, site.ftp_password)"
                      class="btn btn-default btn-sm">Open in external program</span><br>
                <b>Backup</b><br>
                <span ng-if="site.backup_user" ng-click="copyClipboard(site.backup_user)"
                      class="btn btn-default btn-sm"><span
                        class="glyphicon glyphicon-copy"></span> User</span>
                <span ng-if="site.backup_password" ng-click="copyClipboard(site.backup_password)"
                      class="btn btn-default btn-sm"><span
                        class="glyphicon glyphicon-copy"></span> Password</span>

                <span ng-if="ftpProgram"
                      ng-click="ftpOpen('backup1.powerhosting.dk', site.backup_user, site.backup_password)"
                      class="btn btn-default btn-sm">Open in external program</span><br>
            </li>
        </ul>
    </div>-->
</div>
<div class="row" ng-if="customerInfo.last_tickets">
    <div class="col-lg-12">
        <div class="flex-table">
            <div class="flex-table-head">
                <div class="flex-row">
                    <div class="flex-col d-flex">
                        <span><strong>Kundens seneste tickets</strong></span>
                    </div>
                </div>
            </div>
            <div class="flex-table-body d-flex flex-flow-row-wrap">
                <div class="flex-group d-flex" ng-repeat="ticket in customerInfo.last_tickets">
                    <div class="flex-col flex-grow-0" >
                        <span><strong>#{{ticket.id}}</strong></span>
                    </div>
                    <div class="flex-col">
                        <span>{{ticket.subject}}</span>
                    </div>
                    <div class="flex-col flex-grow-0 d-flex">
                        <span class="action mr-5 flex-align-center" ng-click="startTrackerForTicket(ticket.id, ticket.subject)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24"><path d="M3 22v-20l18 10-18 10z"/></svg>
                        </span>
                        <span class="action flex-align-center" ng-click="openBrowserWithTicket(ticket.id)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24"><path d="M21 13v10h-21v-19h12v2h-10v15h17v-8h2zm3-12h-10.988l4.035 4-6.977 7.07 2.828 2.828 6.977-7.07 4.125 4.172v-11z"/></svg>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <!--<ul class="list-group">
            <li class="list-group-item" ng-class="{
                'disabled': ticket.status == 'hold',
                'list-group-item-warning': ticket.status == 'open',
                'list-group-item-success': ticket.status == 'solved',
                'list-group-item-info': ticket.status == 'pending',
            }"
                ng-repeat="ticket in customerInfo.last_tickets">
        <span class="pull-right">
          <span class="btn btn-xs btn-default" ng-click="openBrowserWithTicket(ticket.id)">Open in browser</span>
          <span class="btn btn-xs btn-default"
                ng-click="startTrackerForTicket(ticket.id, ticket.subject)">Start tracker</span>
          </span>
                <b>#{{ticket.id}}</b><br>
            </li>
        </ul>-->
    </div>
</div>