<div class="row">
    <div ng-if="infoData.need_attention" class="col-sm-6">
        <h5>Sager der mangler svar <span ng-click="openZendesk()"
                                         class="glyphicon glyphicon-new-window btn btn-default btn-xs"></span>
        </h5>
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="att in infoData.need_attention">
                #{{att.id}} - {{att.subject}}
                <span class="pull-right">

                <span class="btn btn-xs btn-default" ng-click="openBrowserWithTicket(att.id)">Open in browser</span>
                <span class="btn btn-xs btn-default"
                      ng-click="startTrackerForTicket(att.id, att.subject)">Start tracker</span>
                </span>
            </li>
        </ul>
        <b ng-if="!infoData.need_attention.length">Alt er godt!</b>
    </div>
    <div ng-if="infoData.rp_tasks" class="col-sm-6">
        <h5>Ressourceplan <span ng-click="openRP()"
                                class="glyphicon glyphicon-new-window btn btn-default btn-xs"></span>
        </h5>
        <ul class="list-group">
            <li class="list-group-item" ng-class="{'list-group-item-success': task.is_done}"
                ng-repeat="task in infoData.rp_tasks">
                {{ task.customer }} <span ng-if="task.task"> - {{ task.task }}</span>
                <span class="pull-right">

                <span class="btn btn-xs btn-default" ng-if="(task.task.indexOf('#') !== -1)"
                      ng-click="openBrowserWithTask(task.task)">Open in browser</span>
                <span class="btn btn-xs btn-default" ng-click="startTrackerForTask(task)">Start tracker</span>
                </span>
            </li>
        </ul>
    </div>
</div>
